body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	justify-content: center;
	display: flex;
	width: 100vw;
	background: #131313;
	margin: 0px;
	padding-top:100px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	align-content: center;
}

.container {
	height: 80px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.textField {
	flex-basis: 100%;
	height: 100%;
	background: white;
	border-style: none;
	border-radius: 40px;
	padding-left: 40px;

	text-align: left;
	vertical-align: middle;
	font-size: 30px;
}

.textField:focus {
	outline: none;
}

#titleField {
	width: 500px;
}

#sentenceField {
	width: 1000px;
}

.header-container {
	width: 1042px;
	height: 80px;
	margin-top: 15px;
	margin-bottom: 25px;
	text-align: center;
}

h1 {
	width: 1042px;
	font-size: 50px;
	color: white;
}

#patience {
	width:100%;
	color: white;
}


h4 {
	margin:0px 15px 0px 15px;
	font-size: 30px;
}


.button-container {
	position: relative;
	align-items: right;
	align-content: center;
	vertical-align:middle;
	height: 80px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: -38px;
	border-style: none;
	border-width: 0;
}

#generateButton {
	background-color: #1ED760;
	flex-basis: 100%;
	border-radius: 40px;
	height: 80px;
	align-self: right;
	border-width: 0;
}

.button-container :hover {
	border-color: #1ED760;
	border-width: 5px;
	border-style: solid;
}

.footer {
    width:100%;
    position:fixed;
    bottom:0px;
    overflow: auto;
    margin-top: 20px;
    background-color: #131313;
    border-top: solid;
    border-top-width:1px;
    border-top-color: #AAA;
}

.footer a, .footer p {
	color:#AAA;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	width: auto;
}

a:hover {
	color:#DDD
}


