<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Playlist generator</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div class="content">
        <div class="header-container">
            <h1>Generate Spotify playlist from given sentence</h1>
        </div>
        <div class="container">
            <input type="text" class="textField" , id="titleField" placeholder="Playlist title"/>
        </div>
        <div class="container">
            <input type="text" class="textField" id="sentenceField" placeholder="Sentence"/>
        </div>
        <div class="button-container">
            <button id="generateButton">
                <h4>Generate playlist</h4>
            </button>
        </div>
        <div class="container" id="patience">
            <h4></h4>
        </div>
    </div>
    <div class="footer">
        <div class="footer-text">
            <p>Paweł Walerowicz 2023</p>
            <p><a href="https://github.com/PawelWalerowicz">Github</a></p>
            <p><a href="https://www.linkedin.com/in/pawe%C5%82-walerowicz-03902599">Linkedin</a></p>
        </div>
    </div>
    <script type="text/javascript" src="PlaylistGenRunner.js"></script>
    </body>
</html>